.wd-flex-row-container {
    width: 100vw;
    margin-left: 15px;
}

hr.bold {
    border-top: 3px solid black !important;
    color: black !important;
}

.wd-card-title {
    color: blue !important;
}

.wd-course-card {
    margin-top: 40px !important;
    margin-bottom: 40px !important;
    /* margin-left: 20px !important; */
    margin-right: 20px !important;
}

.wd-wide {
    width: 100vw !important;
    object-fit: cover !important;
}

.wd-button-margin{
    margin-right: 5px !important;
}

.wd-input-container{
    height: 270px !important;
    width: 700px !important;
}
.wd-input-margin{
    margin-right: 100px !important;
    margin-left: 10px !important;
    margin-bottom: 10px !important;
}

.wd-card-margin{
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}